body{
    margin: 0px;
}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 12px 105px;
    background: #fff;
    box-shadow:0px 1px 8px;color: rgb(166, 189, 63);
}
header nav img{
    
    margin-left: 45px;
    width: 25px;
    height: 25px;
    object-fit: contain
}

h2{
    margin: 65px auto;
    width: 15%;
    text-align: center;
    font-family:sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: rgb(166, 189, 63);
    border: 2px rgb(166, 189, 63) ;
    border-style: solid;
    border-radius: 99px;
    padding: 10px
}

.img img{
    width: 130%;
    transition: transform 0.3s ease
}

.card:hover .img img{
    transform: scale(1.05);
}

.card{
    background-color: #fff;
    width: 100%;
    max-width:400px;
    border-radius: 30px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    padding: 0px 0px 20px 0px
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0px 1px 8px rgba(166, 189, 63);
}

.card-title{
    font-family: sans-serif;
    font-size: 18px;
    color: black;
    padding: 10px 15px;
    margin: 0px;
}
.product-buttom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0px 15px;
    padding: 0 15px 0 15px;
    box-sizing: border-box
}
.price{
    width: fit-content;
    color: black;
    border: 2px rgb(166, 189, 63) ;
    border-style: solid;
    border-radius: 99px;
    padding: 4px 10px; 
}

.like{
    width: 30px;
    height: 25px;
    flex-shrink: 0
}

.card-list{
    display: grid;
    margin: 60px 60px 150px 60px;
    gap: 38px;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    position: relative;
    z-index: 1;
}

.product-section{
    position: relative;
}

.mountain-bg{
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 500px;
    opacity: 0.8;
    z-index: 0;

    background-image: url(mountain.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

footer{
    padding: 20px 80px;
    background: rgb(255, 255, 255);
    box-shadow:0px -10px 8px ;color: rgb(166, 189, 63);
    align-items: center;
    display: flex;
    align-items: flex-start;
    z-index: 5;
}

h3{
    color: rgb(166, 189, 63);
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 10px 0 0 0 
}

li{
    color: rgb(78, 78, 78);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
    list-style:none ;
    margin: 5px 0 15px 0;
    transition: color 0.3s ease;
    cursor: pointer;
}

li:hover{
    color: rgb(166, 189, 63)
}

ul{
    padding: 0;
}

li-1{
    color: rgb(78, 78, 78);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
}


.footer-inner{
    display: flex;
    margin: 0px auto;
    grid-template-columns:repeat(auto-fit);
    justify-content: space-between;
    gap: 250px
}

.footer-group{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.footer-slogan{
    background: rgb(255, 255, 255);
    margin: 0px 300px 60px 300px;
    padding: 50px 0;
    border-top : 1px  rgb(166, 189, 63);
    border-top-style: solid;
    
}

.footer-slogan-text{
    text-align: center;
    color: rgb(78, 78, 78);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
}